@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700');
html, body {
  height: 100%;
  width: 100%;
}
body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif !important;
	background-color: #D9D9D9;
  padding: 0!important;
  margin: 0!important;
}
.btn:hover,
.btn:focus,
.btn:active{
    outline: 0 !important;
}
a {
  cursor: pointer;
  text-decoration: none!important;
}
ul {
  list-style-type: none;
}

/******************************************* Margins and Paddings ****************************************/

.m-top-10 {margin-top: 10px;}
.m-top-20 {margin-top: 20px;}
.m-top-30 {margin-top: 30px;}
.m-top-40 {margin-top: 40px;}
.m-top-50 {margin-top: 50px;}
.m-top-60 {margin-top: 60px;}
.m-top-70 {margin-top: 70px;}
.m-top-80 {margin-top: 80px;}
.m-top-90 {margin-top: 90px;}
.m-top-100 {margin-top: 100px;}

.m-bot-10 {margin-bottom: 10px;}
.m-bot-20 {margin-bottom: 20px;}
.m-bot-30 {margin-bottom: 30px;}
.m-bot-40 {margin-bottom: 40px;}
.m-bot-50 {margin-bottom: 50px;}
.m-bot-60 {margin-bottom: 60px;}
.m-bot-70 {margin-bottom: 70px;}
.m-bot-80 {margin-bottom: 80px;}
.m-bot-90 {margin-bottom: 90px;}
.m-bot-100 {margin-bottom: 100px;}

.m-rt-10 {margin-right: 10px;}
.m-rt-20 {margin-right: 20px;}
.m-rt-30 {margin-right: 30px;}
.m-rt-40 {margin-right: 40px;}
.m-rt-50 {margin-right: 50px;}
.m-rt-60 {margin-right: 60px;}
.m-rt-70 {margin-right: 70px;}
.m-rt-80 {margin-right: 80px;}
.m-rt-90 {margin-right: 90px;}
.m-rt-100 {margin-right: 100px;}

.m-lt-10 {margin-left: 10px;}
.m-lt-20 {margin-left: 20px;}
.m-lt-30 {margin-left: 30px;}
.m-lt-40 {margin-left: 40px;}
.m-lt-50 {margin-left: 50px;}
.m-lt-60 {margin-left: 60px;}
.m-lt-70 {margin-left: 70px;}
.m-lt-80 {margin-left: 80px;}
.m-lt-90 {margin-left: 90px;}
.m-lt-100 {margin-left: 100px;}


/********************************* DASHBOARD STYLES *************************************/

.profile-pic {
  width: 40px;
  height: 40px;
  display: block;
  right: 3%;
  position: absolute!important;
  top: 10px;
}
.white-nav {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  height: 60px;
  padding-top: 7px;
}
.search-box {
  background: url(../images/crm-search-icon.png) no-repeat 10px;
  width: 50em;
  margin-left: 50px;
  padding-left: 35px;
}
.white {
    background: #fff!important;
}
.fa-page {
    background: #fafafa;
}
.main-menu {
  border-right: 1px solid #E6E6E6;
  height: 100vh;
  background: #fff;
  padding-right: 0;
  width: 76px;
  float: left;
}
.mid-content {
  border-right: 1px solid #E0E0E0;
  background: rgba(243,245,248,0.60); 
  height: 100vh; 
  overflow: hidden; 
  position: relative; 
  padding: 0;
}
.hellip {
  color: #4a4a4a;
  font-size: 30px;
  margin-top: -15px;
  line-height: 0px;
  float: right;
}
ul.crm-main-menu li {
  padding: 7px 0;
  /*background: none;*/
}
ul.crm-main-menu li a {
  /*display: inline-block!important;
  padding: 10px 0!important;*/
  background: none!important;
}
ul.crm-main-menu li.active-item {
  background-image: linear-gradient(-135deg, #FFB82C 0%, #F79924 100%);
}
ul.crm-main-menu li a:active {
  background: none!important;
}
.nav > li > a:hover {
  background: none!important;
}
.wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 100vh;
  /*padding-top: 62px;*/
}
.property-panel {
  background: #fcfcfc;
  display:grid;
}
.property-box {
  background: #fafafa;
  margin-left: 30px;
  padding-top: 50px;
}
.action-box {
  border-right: 1px solid #E6E6E6;
  background: rgba(243,245,248,0.60);
  max-width: 438px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.sub-menu-container {
  height: calc(100% - 186px);
  margin-top: 126px;
  margin-bottom: 60px;
  font-family: 'Open sans', Arial!important;
  border-top: 1px solid #E0E0E0;
}
.sub-menu-service {
  font-size: 16px;
	color: #4A4A4A;
  font-weight: 700;
  margin:0px;
  margin-bottom: 10px; 
  padding-left: 10px;
  font-family: 'Open sans', Arial!important;
}
.cols50 {
  width: 50%; 
  float: left; 
  margin: 0px; 
  padding-bottom: 5px;
}
.cols50-sanspad {
  width: 50%; 
  float: left; 
  margin: 0px;
}
.editable-text {
  color: #9b9b9b;
  padding-left: 10px;
}
.add-items-snippet {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.14);
  width: 100%;
  height: 60px;
  font-size: 11px;
  color: #4A4A4A;
  text-align: center;
}
.profile-snippet {
  position: absolute;
  top: 0px;
  background: #FFFFFF;
 /* box-shadow: 0 0px 3px 0 rgba(0,0,0,0.14);*/
  width: 100%;
  height: 125px;
  padding: 25px 0 0 20px;
}
.profile-initials {
  background: #E4C0EC;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  font-size: 22px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  float: left;
  text-align: center;
  line-height: 75px;
  margin-right: 20px;
}
.profile-name {
  font-size: 22px;
  color: #4a4a4a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 2px;
  margin-top: -5px;
}
.profile-id {
  font-size: 12px;
  color: #9B9B9B;
  letter-spacing: 1.39px;
}
img.tinder {
  margin-top: -3px;
}
.user-mail {
  float: left;
  display: inline-block;
  width: 45px;
}
.user-chat {
  display: inline-block;
  width: 70px;
  padding-left: 20px;
  border-left: 1px solid #ececec;
}
.add-items-snippet > div {
  float: left;
  display: table;
  vertical-align: middle;
  height: 100%;
  padding: 0 0 0 5px;
}
.add-items-snippet > div > a {
  display: table-cell; 
  vertical-align: middle;
}
.add-items-snippet > div > p {
  display: table-cell; 
  vertical-align: middle;
}
.dropup a.org-border-btn {
  border:1px solid #FCAC29;
  background:#fff;
  height: 30px;
  padding: 8px 20px;
  font-size: 13px;
color: #F5A623;
  text-decoration: none;
  margin-right:10px;
}
.dropup a.yellow-btn {
	border:1px solid #FCAC29;
  background: #FCAC29;
  height: 30px;
  padding: 8px 20px;
  font-size: 13px;
	color: #fff;
  text-decoration: none;
  margin-right:15px;
}
h2.starred {
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0;
  font-weight: 600;
  background: url(../images/yellow-star.png) no-repeat 0 -1px;
  padding-left: 30px;
  line-height: 1.5em;
  margin: 28px 20px;
  font-family: 'Open Sans', sans-serif;
}
h2.unstarred {
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 1.5em;
  margin: 28px 28px;
  clear: both;
  font-family: 'Open Sans', sans-serif;
}
p.crm-prop-name {
  font-size: 14px;
  color: #535353;
  letter-spacing: 0;
  font-weight: 600;
  margin-top: 5px;
}
p.crm-prop-name>.name {cursor:pointer;}
p.crm-prop-name span.crm-prop-price {
  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: 0;
  font-weight: 400;
  float: right;
}
p.crm-prop-location {
  font-size: 11px;
  color: #9E9E9E;
  margin-top: -4px;
  margin-bottom: 14px;
}
p.crm-main-inc {
  font-size: 11px;
  color: #9E9E9E;
  margin-top: -4px;
  margin-bottom: 0px;
}
p.crm-prop-type {
  font-size: 13px;
  color: #3c3c3c;
  width:100%; float:left; margin:0px;
}
p.crm-prop-links {
  font-size: 13px;
  color: #4A90E2;
  font-weight: 600;
  margin-top: 10px;
  width:100%; float:left; margin:0px;
}

/************** jQuery UI and Bootstrap overrides *******************/

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0!important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0!important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0!important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0!important;
}
.ui-widget-header {
  border: none!important;
  color: #333333;
  font-weight: bold;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #eee!important;
  background: #fff!important;
  font-weight: normal;
  color: #4a4a4a!important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  /*border-left: 6px solid #F5A623;*/
  background: url(../images/active-highlight.png) no-repeat;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border-bottom: none!important;
  border-right: none!important;
  border-left: none!important;
  border-top: 1px solid #eee!important;
  background: url(../images/chevron-right.png) no-repeat 395px #fff!important;
  font-weight: normal;
  color: #4a4a4a!important;
}
.sub-menu-container ul li a.noborder {
  border: none!important;
}
.tooltip-inner {
  width: 100px!important;
  padding: 5px 10px!important;
}
p.chip {
  display: inline-block;
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
  font-size: 12px;
  color: #4a4a4a;
  margin-right: 10px;
}
p.chip::after {
  content: "x";
  padding-left: 15px;
}
p.saved-chip {
  display: inline-block;
  background: #f4f6f9;
  border: 1px solid #ECECEC;
  border-radius: 22px;
  padding: 4px 8px;
  font-size: 11px;
  color: #4A4A4A;
  margin-right: 5px;
}

.table > tbody > tr > td {
  padding: 20px 8px!important;
  font-size: 13px!important;
  color: #616161!important;
}

/******************************************* Right side content area tabs ****************************************/

.cd-hero {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-hero-slider {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 10px 0 0;
  /*width: calc(100% - 454px);*/
  overflow-y: auto;
  height: calc(100vh - 50px);
}
.cd-hero-slider li {
  position: absolute;
  width: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-hero-slider li.selected {
  /* this is the visible slide */
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-hero-slider li.move-left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
  /* the is-moving class is assigned to the slide which is moving outside the viewport 
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;*/
}

/* -------------------------------- 

Slider navigation

-------------------------------- */
.cd-slider-nav {
  z-index: 2;
  height: 47px;
  background: #FFFFFF;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.14);
}
.cd-slider-nav nav {
  display: inline-block;
  position: relative;
  height: 47px;
  width: 96%;
}
.cd-slider-nav { 
  margin:0px;
  padding:0px;
}
.cd-slider-nav .cd-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 165px;
  background-color: #ffffff;
  border-bottom:3px solid #F5A623;
  /*box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24); */
  -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
  -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
}
.cd-slider-nav .cd-marker.item-2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-slider-nav li {
  display: inline-block;
  min-width: 165px;
  text-align: center;
  float:left;
}
.cd-slider-nav li.selected a {
  color: #4a4a4a;
  font-weight: 600;
}
.no-touch .cd-slider-nav li.selected a:hover {
  background-color: transparent;
}
.cd-slider-nav a {
  display: block;
  position: relative;
  padding: 15px;
  font-size: 13px;
  color: #757575;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
}
.cd-slider-nav a:hover, .cd-slider-nav a:visited, .cd-slider-nav a:active {
    text-decoration: none;
}
.cd-slider-nav .cd-marker.item-2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-slider-nav .cd-marker.item-3 {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.cd-slider-nav .cd-marker.item-4 {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
}
.cd-slider-nav .cd-marker.item-5 {
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -ms-transform: translateX(400%);
  -o-transform: translateX(400%);
  transform: translateX(400%);
}

.search-field {
	border:1px solid #ededed;
	margin-left:50px;
	width:205px;
  box-sizing: border-box;
  border: 2px solid #ededed;
  border-radius: 4px;
  font-size: 13px;
  background-color: white;
  background-image: url(../images/crm-search-icon.PNG);
  background-position: 6px 6px;
  background-repeat: no-repeat;
  padding: 8px 10px 8px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
	margin-top:-7px;
}
.editable-dropdown {
  height: 150px;
  overflow-y: auto;
}
small a.dropdown-item:hover {
  background: #eee;
}

.tabcontent {float:left; width:100%;}

/* -------------------------------- 

Javascript disabled

-------------------------------- */
.no-js .cd-hero-slider li {
  display: none;
}
.no-js .cd-hero-slider li.selected {
  display: block;
}

.no-js .cd-slider-nav {
  display: none;
}



/**************** Property Listing ***********************/

ul.property-list {
  margin-left: -405px;
  overflow: auto;
  border-bottom: 1px solid #eee;
  padding-bottom: 35px;
  width: 142%;
}
ul.property-list li {
  position: relative;
  float: left;
  width: 394px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  list-style: none;
  padding: 10px;
  margin-right: 16px;
  margin-top: 16px;
}
.crm-prop-image {
    margin-right: 10px;
    border: 0;
    min-width: 130px;
	max-width: 130px;
    min-height: 130px;
    max-height: 130px;
    left: 0px;
    display: table-row;
	background-image:url(../images/compressed.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.prop-snippet {
      display: inline-flex;
    width: 47%;
    padding: 10px;
    border: 1px solid #eee;
    float: left;
    margin: 0 0 20px 15px;
    background: #fff;
    position: relative;
}
.sub-menu-item {
  width: 100%;
  padding: 16px 10px;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #E0E0E0;
  display:table;
}
.sub-menu-item.active {
  border-left: 3px solid #FFB82C;
  background: #F8FAFC;
}
.right-box {
  float: left;
  display: block;
  padding: 10px 25px 0;
}
table {
  font-family: 'Open sans', sans-serif;
}
h3.page-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #2D2D2D;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 24px;
}
span.initials {
  padding: 6px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 600;
  font-family: 'Open sans', sans-serif;
  color: #fff;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

/********************************************** Colors ******************************************/
.peach {background: #E4B4B4;}
.orange {background: #E9C5A1;}
.green {background: #ACDEC5;}
.teal {background: #6CD1E1;}
.lavender {background: #A3BCF8;}
.pink {background: #E4C0EC;}

/********************************************** Fix bug for IE ******************************************/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .front, .back{
      -ms-backface-visibility: visible;
      backface-visibility: visible;
  }

  .back {
      visibility: hidden;
      -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
  }
  .front{
      z-index: 4;
  }
  .card-container:not(.manual-flip):hover .back,
  .card-container.manual-flip.hover .back{
      z-index: 5;
      visibility: visible;
  }
}



.table > thead > tr > th {
  font-size: 14px !important;
  color: #9B9B9B !important;
  letter-spacing: 0 !important;
  font-weight: 200;
}

table.dataTable thead .sorting:after {
  content: url(../images/sort-up-arrow.PNG) !important;
  margin-top:10px;
  opacity:10 !important;
  bottom: 3px !important;
}

table.dataTable thead .sorting_asc:after {
  content: url(../images/sort-down-arrow.PNG) !important;
  bottom:5px !important;
  opacity:10 !important;
}

table.dataTable thead .sorting_desc:after {
  content: url(../images/sort-up-arrow.PNG) !important;
  bottom:3px !important;
  opacity:10 !important;
}

a.alert-cont {
  background: url(../images/alert-bg.png) no-repeat;
  position: absolute; 
  top: 25px;
  right: 30px;
  width: 27px; 
  height: 24px;
  padding: 4px 7px 4px 4px;
  font-size: 10px;
  color: #FFFFFF !important; 
  text-align: center;
}

a.alert-cont:hover {
  color: #FFFFFF !important; 
}

a.alert-grey-cont {
  background: url(../images/alert-bg-grey.png) no-repeat;
  position: absolute; 
  top: 25px;
  right: 30px;
  width: 27px; 
  height: 24px;
  padding: 4px 7px 4px 4px;
  font-size: 10px;
  color: #FFFFFF !important; 
  text-align: center;
}

a.alert-grey-cont:hover {
  color: #FFFFFF !important; 
}

.pad-0 {padding:0px!important;}
.mar-0 {margin:0px!important;}
.right-border {border-right:1px solid #ccc;}

.doc-table tbody tr td:nth-child(1) {
    font-weight: 600;
}
.doc-table tbody tr td:nth-child(4) {
   color: #F5A623!important;
}
.doc-table.glyphicon-hover .glyphicon {
  background:url(../images/nav-cog.PNG) no-repeat;
  background-position:right;
  visibility: hidden;
}
.doc-table.glyphicon-hover td:hover .glyphicon {
  visibility: visible;
}

.blue-text {color: #3090ff !important;}
.green-text {color: #34bd5a !important;}
.red-text {color: #f75d87 !important;}
.grey-text {color: #616161 !important;}

.font-size12 {font-size:12px!important;}
.font-size14 {font-size:14px!important;}






/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}
	
	.width520 {
    width:520px!important;
    background: #FFFFFF;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.08);
  }
  
  
.dropup {float: left; margin-top: 20px; height: 60px; position: relative;}

.add-items-snippet .dropdown-menu {
	background-color: #FFFFFF !important;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2) !important;
	border-radius: 2px !important;
	text-align:left;
	border:0px!important;
	margin-bottom:21px !important;
	padding: 0;
}
.add-items-snippet .dropdown-menu > li > a {padding: 8px 20px !important; font-size: 13px; color: #4A4A4A; line-height: 20px;}
.add-items-snippet .dropdown-menu > li > a:hover,
.add-items-snippet .dropdown-menu > li > a:focus {
  color: #4A4A4A;
  text-decoration: none;
  background-color: #eeeeee;
}


/*  ----------------------
Left Menu Styles Starts Here
----------------------  */

.cust-outer,
.setting-outer,
.notes-outer,
.doc-outer,
.home-outer,
.maker-outer,
.logout-outer {
	fill:#666;
}
a svg:hover .cust-outer,
a svg:hover .users-outer,
a svg:hover .users-inner,
a svg:hover .setting-outer,
a svg:hover .notes-outer,
a svg:hover .doc-outer,
a svg:hover .home-outer,
a svg:hover .maker-outer,
a svg:hover .logout-outer {
	fill:#F79924;
}
	 .cust-inner{fill:#fff;}
	.setting-inner{fill:#fff;}
	.notes-inner{fill:#fff;}
	.doc-inner{fill:none;stroke:#fff;stroke-miterlimit:10;}
	.maker-inner{fill:#fff;}
	.home-inner{fill:#fff;}
	.users-outer{fill:#666;stroke:#fff;stroke-miterlimit:10;}.users-inner{stroke-width:2px;}
	
ul.crm-main-menu li.active-item .cust-outer,
ul.crm-main-menu li.active-item .users-outer,
ul.crm-main-menu li.active-item .setting-outer,
ul.crm-main-menu li.active-item .notes-outer,
ul.crm-main-menu li.active-item .doc-outer,
ul.crm-main-menu li.active-item .home-outer,
ul.crm-main-menu li.active-item .maker-outer {
	fill:#fff;
}
ul.crm-main-menu li.active-item .cust-inner,
ul.crm-main-menu li.active-item .setting-inner,
ul.crm-main-menu li.active-item .notes-inner,
ul.crm-main-menu li.active-item .doc-inner,
ul.crm-main-menu li.active-item .home-inner,
ul.crm-main-menu li.active-item .maker-inner {
	fill:#F79924;
}

ul.crm-main-menu li.active-item .users-inner {
	fill:#fff;
}
	
/*  ----------------------
Left Menu Styles Ends Here
----------------------  */

/*  ----------------------
Chip Sytles Styles Starts Here
----------------------  */

.added-chip {
  padding: 10px 10px 10px 15px;
  height: 34px;
  line-height:12px;
  border-radius: 17px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  font-size: 12px;
  font-weight: normal;
  color: #4a4a4a;
  float:left;
}

.added-chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.ui-widget-content a {
	color:#4a4a4a;
}

/*  ----------------------
Chip Sytles Styles Ends Here
----------------------  */

/*  ----------------------
	9/03/2018 Styles Starts Here
----------------------  */

.switch {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 40px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7ED321;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 20px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4A4A4A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateY(18px);
  -ms-transform: translateY(18px);
  transform: translateY(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}


.nav > li > a {
	padding:0px 15px !important;
}

.btm-icon{fill:#4e86c6;}

/*  ----------------------
	9/03/2018 Styles Ends Here
----------------------  */